#container {
	text-align: left; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 1em;
	padding: 0;

	display: grid;
	grid-template-columns: 180px 1fr;

}

#content {
	margin-top: 0;
}

#nouns, #prefixes, .prefix, #words, .column {
	-webkit-columns: var(--column-width);
	-moz-columns: var(--column-width);
	columns: var(--column-width);
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	margin-top: 1em;
}