<!-- alphabetical -->
{% extends "layout.html" %}
{% block content %}
<p class="crumbs">
	<a href="/word">word</a> \
	<a href="/nouns/{{origin}}">{{ origin }} nouns</a> \
	{{ prefix }}
</p>

{% for letter in alpha %}
	<p>
		<strong>{{letter}}</strong>
		<span style="float:right;"> ( 25 / {{d[letter+"num"]}} ) <a href="/nouns/{{origin}}/{{prefix}}/{{letter}}">See all {{letter}} ⟶</a></span>
	</p>
	<hr>
	<div class="column">
		{% for word in d[letter] %}
			<a href="/new/{{origin}}/{{word}}/{{prefix}}" class="new-word">{{ prefix }}{{ word }}</a>
			<br>
		{% endfor %}
	</div>
	<br>
{% endfor %}
{% endblock %}