<!-- crazy.html -->
{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<p><strong><a href="/">Index 1</a></strong></strong>
<p>
	<a href="/word">word</a> \ <a href="/crazy">crazy</a>	
</p>

<table id="crazy">
	<tr>
	{% for prefix in prefix_list %}
		<td id="prefix-word">{{ prefix.word }}</td>		
	{% endfor %}
		<td id="noun-word">{{ noun }}</td>
	</tr>

	<tr>
	{% for prefix in prefix_list %}
		<td id="prefix-def">{{ prefix.def }}</td>
	{% endfor %}
		<td id="noun-def">Loading...</td>
	</tr>

<script type="text/javascript" src="{{ url_for('static',filename='getDef.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		getDef( "{{ noun }}" );
	});
</script>

{% endblock %}
