<!-- gallery-text.html -->
{% extends "layout.html" %}
{% block nav %}
<a href="/">< index home</a>
{% endblock %}
{% block content %}

<div id="gallery" class="gallery-text">
	<div class="text">
		{% for line in new_text  %}
			<p> {{ line|safe }} </p>
		{% endfor %}
	</div>
<!-- 	<div class="text">
		{% for line in mark  %}
			<p> {{ line|safe }} </p>
		{% endfor %}
	</div> -->
</div>

<div id="controls">
	<div id="progress"></div>
	<button id="pause">Pause</button>
	<button id="resume">Resume</button>
	<button id="previous">Previous</button>
	<button id="next">Next</button>
</div>

<div id="loading" style="display:none">
	<p>Loading...</p>
</div>

{% block script %}
<script>
	const isWordGallery = false;
</script>
<script type="text/javascript" src="{{ url_for('static',filename='js/galleryColor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/gallery.js') }}"></script>

{% endblock %}

{% endblock %}

