<!-- gallery-text.html -->
{% extends "layout.html" %}
{% block nav %}
<a href="/">< index home</a>
{% endblock %}
{% block content %}

<div id="gallery" class="gallery-text">
	<div class="text">
		{% for line in new_text  %}
			<p> {{ line|safe }} </p>
		{% endfor %}
	</div>

	<button id="refresh"  >Refresh</button>
	<div id="loading" style="display:none">
		<p>Loading...</p>
	</div>
</div>


{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/galleryColor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/genText.js') }}"></script>
{% endblock %}

{% endblock %}



<!-- 	<div class="text">
		{% for line in mark  %}
			<p> {{ line|safe }} </p>
		{% endfor %}
	</div> -->


<!-- <div id="new">
	<p>Generate new text:</p>
	<ul>
		<li><a href="/gallery/text/genesis-beginning">Genesis</a></li>
		<li><a href="/gallery/text/a-day">A Day</a></li>
		<li><a href="/gallery/text/waves-beginning">The Waves</a></li>
		<li><a href="/gallery/text/tale-beginning">A Tale of Two Cities</a></li>
		<li><a href="/gallery/text/moby-beginning">Moby-Dick</a></li>
		<li><a href="/gallery/text/red-wheelbarrow">The Red Wheelbarrow</a></li>
		<li><a href="/gallery/text/comm-beginning">The Communist Manifesto</a></li>
	</ul>
</div>
 -->