<!-- gallery-text.html -->
{% extends "layout.html" %}
{% block nav %}
<a href="/">< index home</a>
{% endblock %}
{% block content %}

<div id="gallery" class="gallery-text">
	<div class="text">
		{% for line in new_text  %}
			<p> {{ line|safe }} </p>
		{% endfor %}
	</div>

	<button id="refresh"  >Refresh</button>
	<div id="loading" style="display:none">
		<p>Loading...</p>
	</div>
</div>


{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/galleryColor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/genText.js') }}"></script>
{% endblock %}

{% endblock %}

