<!-- gallery-word.html {{ prefix }} {{ noun }} -->
{% extends "layout.html" %}
{% block content %}

{% if start_slideshow == False %} 
	<a id="referer" href="{{ referer }}">back</a> 
{% endif %}

<div id="gallery" class="gallery-word">
	<p><a class="new-word" href="#">{{ prefix }}{{ noun }}</a></p>
	<p>{{ prefix_def }}</p>
	<p>+</p>
	<ul>
		{% for def in defs %}
		<li>{{ def }}</li>
		{% endfor %}
	</ul>
</div>

<div id="progress"></div>
<div id="controls">
	{% if start_slideshow == False %} 
		<button id="slideshow">Start Slideshow</button> 
	{% endif %}
	<button id="pause">Pause</button>
	<button id="resume">Resume</button>
	<button id="previous" style="display:none;">Previous</button>
	<button id="next">Next</button>
	<button id="share-button">Share</button>
	<button id="download">Download Image</button>
</div>
<script>
	const isWordGallery = true;
	const prefix = '{{ prefix }}';
	const noun =  '{{ noun }}';
	const startSlideshow = '{{ start_slideshow }}' == 'True';
</script>
{% include "share.html" %}


<div id="loading" style="display:none">
	<p>Loading...</p>
</div>

{% block script %}
<script src="{{ url_for('static',filename='js/galleryColor.js') }}"></script>
<script src="{{ url_for('static',filename='js/gallery.js') }}"></script>
{% endblock %}

{% endblock %}

