<!-- gallery-word.html {{ prefix }} {{ noun }}-->
{% extends "layout.html" %}
{% block nav %}
<a href="/">< index home</a>
{% endblock %}
{% block content %}

<div id="gallery" class="gallery-word">
	<p><a class="new-word" href="#">{{ prefix }}{{ noun }}</a></p>
	<p>{{ prefix_def }}</p>
	<p>+</p>
	<ul>
		{% for def in defs %}
		<li>{{ def }}</li>
		{% endfor %}
	</ul>
</div>

<div id="controls">
	<div id="progress"></div>
	<button id="pause">Pause</button>
	<button id="resume">Resume</button>
	<button id="previous">Previous</button>
	<button id="next">Next</button>
</div>

<!-- <div id="social">
	<button id="twitter">Share on Twitter</button>
	<button id="instagram">Share on Instagram</button>
</div> -->

<div id="loading" style="display:none">
	<p>Loading...</p>
</div>

{% block script %}
<script src="{{ url_for('static',filename='js/html2canvas.min.js') }}"></script>
<script>
	const prefix = '{{ prefix }}';
	const noun =  '{{ noun }}';

	// twitter.onclick = function() {
	// 	const msg = `${prefix}${noun} http://www.indexindexindex.com/new/${noun}/${prefix}`;
	// 	window.open("https://twitter.com/intent/tweet?text=" + msg , "_blank");
	// };

	// instagram.onclick = function() {
	// 	html2canvas(document.getElementById('gallery')).then(canvas => {
	// 		const img = canvas.toDataURL("image/png");
	// 		const a = document.createElement('a');
	// 		a.download = `${prefix}${noun}.png`;
	// 		a.href = `data:${img}`;
	// 		a.click();
	// 	});
	// };
	
</script>
<script>
	const isWordGallery = true;
</script>
<script src="{{ url_for('static',filename='js/galleryColor.js') }}"></script>
<script src="{{ url_for('static',filename='js/gallery.js') }}"></script>
{% endblock %}

{% endblock %}

