{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}

<div id="input">
	<form method="GET" action="/text">
		<input type="radio" name="title" value="sonnets" checked >Shakespeare<br>
			<input type="radio" name="title" value="genesis" >Genesis<br>
			<input type="radio" name="title" value="hillary" >Hillary Clinton<br>
			<input type="radio" name="title" value="reagan" >Ronald Reagan<br>
			<input type="radio" name="title" value="utopia" >Utopia<br>
			<input type="radio" name="title" value="eighth-stein" >Gertrude Stein<br>
			<input type="radio" name="title" value="ulysses" >Ulysses<br>
			<input type="submit" value="Generate">
	</form> 
</div>
{% endblock %}