<!--  gen.html -->
{% extends "layout.html" %}
{% block content %}
<p>text \</p>
<div id="input">

	<div id="new">
		<p>Generate new text:</p>
		<ul>
			<li><a href="/text/genesis">Genesis</a></li>
			<li><a href="/text/a-day">A Day</a></li>
			<li><a href="/text/the-waves">The Waves</a></li>
			<li><a href="/text/a-tale-of-two-cities">A Tale of Two Cities</a></li>
			<li><a href="/text/moby-dick">Moby-Dick</a></li>
			<li><a href="/text/the-red-wheelbarrow">The Red Wheelbarrow</a></li>
			<li><a href="/text/communist-manifesto">The Communist Manifesto</a></li>
		</ul>
	</div>


	<form method="POST" action="/paste">
		Enter text
		<br>
		<style>
			#enter-text {
				height: 10%;
				width: 40%;
				min-width: 280px;
				margin-bottom: 10px;
			}
		</style>
		<textarea id="enter-text" type="text" name="text" ></textarea>
		<br>
		<input type="submit" value="Generate" class="generate">
	</form> 
<!-- 	<form method="GET" action="/fromurl">
		From
		<input type="text" name="url" placeholder="URL" class="underline" />
		<input type="submit" value="Generate" class="generate">
	</form>  -->
	{% if error %} 
		<p class="error">{{ error }}</p>
	{% endif %}
</div>

<div id="loading" style="display:none">
	<p>Loading...</p>
</div>


<script>
	const btns = document.getElementsByClassName('generate');
	Array.from(btns).forEach(btn => {
		btn.onclick = function() {
			document.getElementById('loading').style.display = 'block';
		};
	});
</script>

{% endblock %}

