<!--  gen.html -->
{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}

<p>
	<a href="/word">text</a> \
</p>

<div id="input">
	<form method="GET" action="/text">
		Genesis
		<input type="hidden" name="title" value="genesis" checked >
		<input type="submit" value="Generate">
	</form> 
	<form method="GET" action="/paste">
		Enter text
		<br>
		<textarea type="text" name="text" style="height:10%;width:40%;min-width:280px;"></textarea>
		<br>
		<input type="submit" value="Generate">
	</form> 
	<form method="GET" action="/fromurl">
		From
		<input type="text" name="url" placeholder="URL" class="underline" />
		<input type="submit" value="Generate">
	</form> 
	{% if error %} 
		<p class="error">{{ error }}</p>
	{% endif %}
</div>
{% endblock %}