{% extends "layout.html" %}
{% block content %}

<p>Geneword is an ongoing series of digital poetry experiments focused on the invention of new words, letters, and ultimately languages.</p>

<p>Index I, the first iteration of this project, generates “new words” by affixing Greek &amp; Latin prefixes to nouns in the English language. This combinatory word-processing occurs through the poetic intervention of an algorithm &amp; a bot we created (<a href="https://twitter.com/geneword/" target="_blank" rel="noreferrer noopener">called <em>Geneword</em></a>) that generates a vast permutational series of selected prefixes and nouns, and can also place these “new words” randomly within a wide range of texts of different genres and forms. The tiered parameters of Index 1 are defined by two sets of nouns: the first is “all nouns,” which consists of 37,199 different nouns, and the second is a smaller set that we are calling “common nouns,” which consists of 1514 nouns. By using 168 prefixes, the algorithm produces over 9 million “new words,” not counting redundancies.</p>

<p>Index I is designed to be a playful provocation and serious starting point for imagining what new words for things can do. With a simple gesture, this algorithm aims to permanently expand the English language, and to find out what happens (expressively &amp; poetically) when such new spaces are created. This feels particularly important in a time when languages of power are being used and abused to limit our vision of what is possible, rather than opening up new pathways of meaning-making and ways of being in the world. This is the power of language — a’bra c’dabra — i create as i speak.</p>

<p>All nouns and definitions are sourced from the <a href="https://wordnet.princeton.edu/">WordNet database</a>.</p>

<p><strong>Bios</strong></p>
<p>Tom Haviv is a writer, artist and educator based in New York City. His website is <a href="http://tomhaviv.com/">tomhaviv.com</a>.</p>

<p>Owen Roberts is an artist and educator based in Brooklyn, New York. His work is available at <a href="http://owen.cool/">owen.cool</a>.</p>

<p><a href="http://www.indexindexindex.com/static/license.txt">Geneword License</a></p>
<p>Princeton University “About WordNet.”&nbsp;<a href="https://wordnet.princeton.edu/">WordNet</a>. Princeton University. 2010.</p>
<p>Bird, Steven, Edward Loper and Ewan Klein (2009). Natural Language Processing with Python. O’Reilly Media Inc.</p>


{% endblock %}