<!-- index.html -->
{% extends "layout.html" %}
{% block content %}
<ul>
	<li><a href="/word">Create new words</a></li>
	<li><a href="/text">Populate texts with new words</a></li>
	<li><a href="/gallery/word" class="load">Gallery of new words</a></li>
	<li><a href="/gallery/text" class="load">Gallery of text with new words</a></li>
</ul>

<script>
	const links = document.getElementsByClassName('load');
	Array.from(links).forEach(link => {
		link.onclick = function() {
			document.getElementById('loading').style.display = 'block';
		};
	});
</script>

<p id="loading" style="display:none;">Loading...</p>
{% endblock %}

{% block script %}
{% endblock %}