<html>
<head>
	<title>index of new words</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
</head>
<body>
	<div id="container">
		<p><a href="/"><strong>Index of New Words</strong></a></p>
		<a href="/">Home</a> \ <a href="about.html">About</a>
		<hr>

		<div id="input">
			<form method="GET" action="/text">
				<input type="radio" name="text" value="sonnets" checked >Shakespeare<br>
  				<input type="radio" name="text" value="genesis" >Genesis<br>
  				<!-- <input type="radio" name="text" value="quarter-stein" >Gertrude Stein<br> -->
  				<input type="radio" name="text" value="hillary" >Hillary Clinton<br>
  				<input type="radio" name="text" value="reagan" >Ronald Reagan<br>
  				<input type="submit" value="Generate">
			</form> 

		</div>
	</div>
</body>