<html>
<head>
	{% block head %}
	<title>kaf index</title>
	<link rel='shortcut icon' href="{{ url_for('static',filename='favicon.ico') }}" type='image/x-icon'/ >
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/cool.js') }}"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	{% endblock %}
</head>

<body>
	<div id="container">
		{% block nav %}
		<p><a href="/"><strong>Kaf Index</strong></a></p>
		<a href="/">Home</a> \ <a href="/about">About</a>
		<hr>
			{% block index1 %}
			<p><strong><a href="/">Index 1: Geneword</a></strong></strong>
			{% endblock %}
		{% endblock %}
		{% block content %}
			<!-- content goes here -->
		{% endblock %}
	</div>

{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/wordAnimator.js') }}"></script>
{% endblock %}
</body>
