<!-- newword.html -->
{% extends "layout.html" %}
{% block content %}
<p class="crumbs">
	<a href="/word">word</a> \

	{% if origin == "1480" or origin == "55,191" %}
		<a href="/nouns/{{origin}}">{{ origin }} nouns</a> \
		<a href="/noun/{{origin}}/{{noun}}">{{ noun }}</a> \
	{% elif origin == "input" or origin == "random" %}
		<a href="/{{origin}}">{{origin}}</a> \
		<a href="/noun/{{origin}}/{{noun}}">{{ noun }}</a> \
	{% elif origin == "multi" %}
		<a href="/{{origin}}">{{origin}}</a> \
		<a href="/{{origin}}/{{noun}}">{{ noun }}</a> \
	{% else %}
		<a href="/noun/input/{{noun}}">{{ noun }}</a> \
	{% endif %}	
	
	{% for prefix in prefix_list[:-1] %}
		{{ prefix.word }} \
	{% endfor %}
	{{ prefix_list[-1].word }}
</p>
{% if prefix_list|length > 1 %}
<div id="all-prefixes">
{% endif %}
{% for prefix in prefix_list %}
	<div id="prefix-wrap">
		<div id="prefix-word">{{ prefix.word }}</div>
		<div id="prefix-def">{{ prefix.def }}</div>
	</div>
{% endfor %}
{% if prefix_list|length > 1 %}
</div>
{% endif %}

<div id="noun-wrap">
	<div id="noun-word">{{ noun }}</div>
	<div id="noun-def">
		<ul>
		{% for def in defs %}
			<li>{{ def }}</li>
		{% endfor %}
		</ul>
	</div>
</div>

{% endblock %}

{% block script %}
{% endblock %}