<!-- newword.html -->
{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<p>
	<a href="/word">word</a> \

	{% if origin == "1525" or origin == "55,191" %}
	<a href="/nouns/{{origin}}">{{ origin }} nouns</a> \
	<a href="/noun/{{origin}}/{{noun}}">{{ noun }}</a> \
	<a href="/new/{{origin}}/{{noun}}/{{prefix}}">{{ prefix }}</a> \
	
	{% elif origin == "input" or origin == "random" %}
	<a href="/{{origin}}">{{origin}}</a> \
	<a href="/noun/{{origin}}/{{noun}}">{{ noun }}</a> \
	<a href="/new/{{origin}}/{{noun}}/{{prefix}}">{{ prefix }}</a> \
	

	{% else %}
	<a href="/noun/input/{{noun}}">{{ noun }}</a> \
	<a href="/nouns/55,191/{{prefix}}">{{ prefix }}</a> \
	
	{% endif %}

	
</p>



<div id="prefix-wrap">
	<div id="prefix-word">{{ prefix }}</div>
	<div id="prefix-def">{{ prefixdef }}</div>
</div>
<div id="noun-wrap">
	<div id="noun-word">{{ noun }}</div>
	<div id="noun-def">
		<ul>
		{% for def in defs %}
			<li>{{ def }}</li>
		{% endfor %}
		</ul>
	</div>
</div>
<div id="pearson-wrap" class="noun-wrap">
	<div id="pearson-word"><strong>{{ noun }}</strong> (pearson)</div>
	<div id="pearson-def">Loading...</div>
</div>

<script type="text/javascript" src="{{ url_for('static',filename='getDef.js') }}"></script>
<script type="text/javascript">
/*	$(document).ready(function() {
		getDef( "{{ noun }}" );
	});*/
</script>

{% endblock %}

{% block script %}
{% endblock %}