{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<h2>Index 1</h2>
<p>
	<a href="/word">word</a> \
	<a href="/nouns/{{num}}">{{ num }}</a> \
	<a href="/nouns/{{num}}/{{prefix}}">{{ prefix }}</a> \
</p>

<div>
	<span id="counter"></span> <br>
	<a onclick="stop=true;">stop loading</a> <br>
	<a >alphabetize</a>
</div>

<div id="words"></div>

{% for n in nouns %}
	<a href="/newword/{{n}}/{{prefix}}" style="display:none;" class="newword">{{ prefix }}{{ n }}</a>
{% endfor %}

<script type="text/javascript">
var stop = false;
var asyncLoop = function(o) {
	var i=-1;
	var loop = function() {
		if (stop) return;
		i++;
		if (i==o.length){o.callback(); return;}
		o.functionToLoop(loop, i);
	}
	loop();
};

var $words = $('.newword');
var $wordsContainer = $('#words');
var $counter = $('#counter');
var len = $words.length;
var count = 0;


asyncLoop({
	length: len,
	functionToLoop : function(loop, i) {
		setTimeout(function() {
			$words[i].style.display = "inline";
			$wordsContainer.append($words[i]).append('<br>');
			count++;
			$counter.text( count + " / " + len )
			loop();
		}, 1);
	},
	callback : function() {
		console.log("done!");
	}
});

</script>

{% endblock %}