<!-- noun.html -->
{% extends "layout.html" %}
{% block content %}
<p class="crumbs">
	<a href="/word">word</a> \ 
	{% if origin == "1480" or origin == "55,191" %}
	<a href="/nouns/{{origin}}">{{ origin }} nouns</a> \
	{% else %}
	<a href="/{{origin}}">{{origin}}</a> \ 
	{% endif %}
	{{ noun }}
</p>

<div id="words"></div>

<div style="display:none;">
	{% for prefix in prefixes %}
		<a href="/new/{{origin}}/{{noun}}/{{prefix}}" class="newword">{{prefix}}{{noun}}</a>
	{% endfor %}
</div>

{% endblock %}
