<!-- nouns.html -->
{% extends "layout.html" %}
{% block content %}
<p class="crumbs">
	<a href="/word">word</a> \
	{{origin}} nouns
</p>
<form method="GET" action="/nouns/{{origin}}/input">
	<input type="text" name="prefix" class="underline" placeholder="Input prefix" >
	<input type="submit" value="Enter">
</form>
<p><strong>Choose prefix:</strong></p>
<div id="words">
	{% for pref in prefixes %}
		<a href="/nouns/{{origin}}/{{pref}}" class="new-word">{{ pref }}</a>
	{% endfor %}
</div>

{% endblock %}
