{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}

<p>
	<a href="/word">word</a> \ 
	<a href="/{{origin}}">{{origin}}</a> \ 
	<a href="/noun/{{noun}}">{{ noun }}</a> \
</p>
<div id="nouns">
	{% for prefix in prefixes %}
		<a href="/newword/{{noun}}/{{prefix}}" class="newword">{{prefix}}{{noun}}</a>
		<br>
	{% endfor %}
</div>

<script type="text/javascript">
	console.log("hello");
	$('body').on("mouseover", ".newword", function(){
		$(this).css({color:"hsla("+getRandomInt(30,300, 200)+","+getRandomInt(60,90)+"%,"+getRandomInt(50, 80)+"%,1)"});
	})
	.on("mouseout", ".newword", function(){
		$(this).css({color:"black"});
	});
</script>

{% endblock %}


