<!-- noun.html -->
{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<p><strong><a href="/">Index 1</a></strong></strong>
<p>
	<a href="/word">word</a> \ 

	{% if origin == "1525" or origin == "55,191" %}
	<a href="/nouns/{{origin}}">{{ origin }} nouns</a> \
	{% else %}
	<a href="/{{origin}}">{{origin}}</a> \ 
	{% endif %}
	
	<a href="/noun/{{origin}}/{{noun}}">{{ noun }}</a> \
</p>

<div id="words"></div>

{% for prefix in prefixes %}
	<a href="/new/{{origin}}/{{noun}}/{{prefix}}" class="newword">{{prefix}}{{noun}}</a>
	<br>
{% endfor %}

{% endblock %}


{% block script %}
{{ super() }}
{% endblock %}


