<!-- text.html -->
{% extends "layout.html" %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}

<h2>Index 1</h2>
<p>
	<a href="/text">text</a> \
	<a href="/text/{{title}}">{{title}}</a> \

</p>
<br>
<div id="text" style="border-bottom: 1px solid black;">
	{% for line in newtext  %}
		<p> {{ line }} </p>
	{% endfor %}
</div>
<div id="markov">
	{% for line in mark  %}
		<p> {{ line }} </p>
	{% endfor %}
</div>
<br>
<button onclick="document.location.reload(true);">Refresh</button>

{% endblock %}