<!-- text.html -->
{% extends "layout.html" %}
{% block content %}

<p>
	<a href="/text">text</a> \
	<a href="/text/{{title}}">{{title}}</a> \

</p>

<div id="text">
	{% for line in new_text  %}
		<p> {{ line|safe }} </p>
	{% endfor %}
</div>
<!-- <div id="markov">
	{% for line in mark  %}
		<p> {{ line|safe }} </p>
	{% endfor %}
</div> -->
<br>
<button id="refresh">Refresh</button>
<div id="loading" style="display:none">
	<p>Loading...</p>
</div>

{% block script %}
<script type="text/javascript" src="{{ url_for('static',filename='js/newWordLinks.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/genText.js') }}"></script>
{% endblock %}

{% endblock %}

