<!-- text.html -->
{% extends "layout.html" %}
{% block content %}

<p>
	<a href="/text">text</a> \
	<a href="/text/{{title}}">{{title}}</a> \
</p>

<div id="text" style="border-bottom: 1px solid black;">
	{% for line in newtext  %}
		<p> {{ line|safe }} </p>
	{% endfor %}
</div>

<div id="markov">
	{% for line in mark  %}
		<p> {{ line|safe }} </p>
	{% endfor %}
</div>
<br>
<button onclick="document.location.reload(true);">Refresh</button>

{% endblock %}
{% block script %}
<script>
$("a[href*='new']").each( function() {
	$(this).css({color: "hsla("+getRandomInt(0,360)+","+getRandomInt(50,100)+"%,"+getRandomInt(40, 70)+"%,1)" });
});
</script>
{% endblock %}